@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 10vh;
    background: url('pshs2.png') no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(255, 255, 255, 0.289);

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #448EE4;
    transition: .5s;
    
}

.navbar a:hover,
.navbar a.active{
    color: #448EE4;
    transition: .5s;
}
.navbar a:hover::before {
    width: 100%;
}

center .pshs{
    margin-top: 240px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 50px;
}

.pisaylogo{
    height: 50px;
}

.logo{
    position: relative;
    top: 0px;
    left: 0px;
    padding-right: 200px;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.logo:hover{
    color: #448EE4;
    transition: .5s;
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff62;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;

}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}
